

<div class="site-section" id="projects-section">
      <div class="container">
        <div class="row">
          <div class="col-12 service-container mb-5">
            <h2 class="text-black service-title fst-italic">Nos Projets</h2>

          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 project-entry">
            <a href="{{ '/maisone' | absolute_url }}" class="d-block figure image-project" data-fancybox="gallery">
              <img src="{{ '/assets/images/Maison E - Plédran 2.jpg' | absolute_url }}" alt="maison neuve plédran" class="img-fluid">
            </a>
            <h3 class="mb-0"><a href="{{ '/maisone' | absolute_url }}">Maison E </a></h3>
            <span class="text-muted">Plédran</span>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 project-entry">
            <a href="{{ '/maisonl' | absolute_url }}" class="d-block figure image-project" data-fancybox="gallery">
              <img src="{{ '/assets/images/Maison L - Yffiniac 3.jpg' | absolute_url }}" alt="maison neuve yffiniac" class="img-fluid">
            </a>
            <h3 class="mb-0"><a href="{{ '/Maison L - Yffiniac 3' | absolute_url }}">Maison L </a></h3>
            <span class="text-muted">Yffiniac</span>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 project-entry">
            <a href="{{ '/renovationc' | absolute_url }}" class="d-block figure image-project" data-fancybox="gallery">
              <img src="{{ '/assets/images/Rénovation C - Merdrignac.jpg' | absolute_url }}" alt="rénovation merdrignac" class="img-fluid">
            </a>
            <h3 class="mb-0"><a href="{{ '/renovationc' | absolute_url }}">Rénovation C </a></h3>
            <span class="text-muted">Merdrignac</span>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 project-entry">
            <a href="{{ '/maisonbf' | absolute_url }}" class="d-block figure image-project" data-fancybox="gallery">
              <img src="{{ '/assets/images/Maison BF - Pléboule 4.jpg' | absolute_url }}" alt="maison neuve pléboule" class="img-fluid">
            </a>
            <h3 class="mb-0"><a href="{{ '/maisonbf' | absolute_url }}">Maison BF </a></h3>
            <span class="text-muted">Pléboule</span>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 project-entry">
            <a href="{{ '/renovationm' | absolute_url }}" class="d-block figure image-project" data-fancybox="gallery">
              <img src="{{ '/assets/images/Rénovation M - Pordic.jpg' | absolute_url }}" alt="rénovation pordic" class="img-fluid">
            </a>
            <h3 class="mb-0"><a href="{{ '/renovationm' | absolute_url }}">Rénovation M</a></h3>
            <span class="text-muted">Pordic</span>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 project-entry">
            <a href="{{ '/maisonh' | absolute_url }}" class="d-block figure image-project " data-fancybox="gallery">
              <img src="{{ '/assets/images/maison_neuve.webp' | absolute_url }}" alt="maison neuve yffiniac" class="">
            </a>
            <h3 class="mb-0"><a href="{{ '/maisonh' | absolute_url }}">Maison H</a></h3>
            <span class="text-muted">Pommeret</span>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 project-entry">
            <a href="{{ '/renovationve' | absolute_url }}" class="d-block figure image-project" data-fancybox="gallery">
              <img src="{{ '/assets/images/extension.webp' | absolute_url }}" alt="extension maison saint-brieuc" class="">
            </a>
            <h3 class="mb-0"><a href="{{ '/renovationve' | absolute_url }}">Rénovation VE</a></h3>
            <span class="text-muted">Plorec-sur-Arguenon</span>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 project-entry">
            <a href="{{ '/extensionm' | absolute_url }}" class="d-block figure image-project" data-fancybox="gallery">
              <img src="{{ '/assets/images/extension_cuisine.webp' | absolute_url }}" alt="extension cuisine bretagne" class="">
            </a>
            <h3 class="mb-0"><a href="{{ '/extensionm' | absolute_url }}">Extension M</a></h3>
            <span class="text-muted">Trémuson</span>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 project-entry">
            <a href="{{ '/renovationd' | absolute_url }}" class="d-block figure image-project" data-fancybox="gallery">
              <img src="{{ '/assets/images/reno3.webp' | absolute_url }}" alt="renovation maison plérin" class="">
            </a>
            <h3 class="mb-0"><a href="{{ '/renovationd' | absolute_url }}">Rénovation D</a></h3>
            <span class="text-muted">Yffiniac</span>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 project-entry">
            <a href="{{ '/maisonal' | absolute_url }}" class="d-block figure image-project" data-fancybox="gallery">
              <img src="{{ '/assets/images/elevation.webp' | absolute_url }}" alt="maitre d'oeuvres cotes d'armor" class="">
            </a>
            <h3 class="mb-0"><a href="{{ '/maisonal' | absolute_url }}">Maison AL</a></h3>
            <span class="text-muted">Saint-Brieuc</span>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 project-entry">
            <a href="{{ '/maisond' | absolute_url }}" class="d-block figure image-project" data-fancybox="gallery">
              <img src="{{ '/assets/images/maison_neuve2.webp' | absolute_url }}" alt="maison neuve lamballe" class="img-fluid">
            </a>
            <h3 class="mb-0"><a href="{{ '/maisond' | absolute_url }}">Maison D</a></h3>
            <span class="text-muted">Quessoy</span>
          </div>
        </div>
      </div>
    </div>


